{% extends 'base.html.twig' %}

{% block title %}Tradesman index{% endblock %}

{% block body %}
<div class="container">
    <h1>Tradesman index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tradesman in tradesmen %}
            <tr>
                <td>{{ tradesman.id }}</td>
                <td>{{ tradesman.name }}</td>
                <td>
                    <a href="{{ path('app_tradesman_show', {'id': tradesman.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_tradesman_edit', {'id': tradesman.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tradesman_new') }}" class="btn btn-success">Create new</a>
</div>
{% endblock %}
