{% extends 'base.html.twig' %}

{% block title %}Date index{% endblock %}

{% block body %}
<div class="container">
    <h1>Date index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for date in dates %}
            <tr>
                <td>{{ date.id }}</td>
                <td>{{ date.date ? date.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_date_show', {'id': date.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_date_edit', {'id': date.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_date_new') }}" class="btn btn-success">Create new</a>
</div>
{% endblock %}
