{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="container">
    <form action="{{ path('app_transaction_index') }}" method="get" style="margin-bottom: 10px;">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" id="search" name="search" value="{{ app.request.query.get('search') }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="start_datetime">Start Datetime:</label>
                    <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" value="{{ app.request.query.get('start_datetime') }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="end_datetime">End Datetime:</label>
                    <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" value="{{ app.request.query.get('end_datetime') }}">
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <div class="form-group mr-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="form-group">
                    <a href="{{ path('api_download_data', {'search': app.request.query.get('search'), 'start_datetime': app.request.query.get('start_datetime'), 'end_datetime': app.request.query.get('end_datetime')}) }}" class="btn btn-warning" style="margin-left: 5px;">Download</a>
                </div>
            </div>

        </div>
    </form>

    {# Add search form #}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Tradesman</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.tradesman ? transaction.tradesman : '' }}</td>
                <td>
                    <a href="{{ path('app_transaction_show', {'id': transaction.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transaction_new') }}" class="btn btn-success">Create new</a>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
{% endblock %}
